/* ==========================================================================
   SpartaPark's Custom Styles
   ========================================================================== */
.content-wrapper {
  min-height: 700px;
  margin-top: 50px;
}
@media (max-width: 480px) {
  .contact-page-header {
    background-image: url(../images/header-image-contact-3.jpg);
    background-size: 300px 70px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(255, 255, 255, 0);
    height: 70px;
    width: 300px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
  .about-title {
    font-size: 25px;
  }
  .about-text {
    font-size: 15px;
  }
  .about-text:last-child {
    margin-bottom: 50px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .contact-page-header {
    background-image: url(../images/header-image-contact-1.jpg);
    background-size: 500px 116px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(255, 255, 255, 0);
    height: 116px;
    width: 500px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
  .about-title {
    font-size: 30px;
  }
  .about-text {
    font-size: 20px;
  }
  .about-text:last-child {
    margin-bottom: 70px;
  }
  .sidebar-map-area-wrapper .map-area {
    min-width: 300px;
  }
}
@media (max-width: 767px) {
  .content-wrapper-navbar-push {
    margin-top: 100px;
  }
  .navbar-default .navbar-nav > li > a {
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0,0,0,.75);
    font-weight: bold;
    border-radius: 4px;
    padding: 10px 15px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 5px;
    text-align: center;
  }
  .navbar > .container .navbar-brand {
    margin-top: -7px;
  }
  .slide1 {
    background-image: url(../images/carousel-mobile-1.jpg);
  }
  .slide2 {
    background-image: url(../images/carousel-mobile-2.jpg);
  }
  .slide3 {
    background-image: url(../images/carousel-mobile-3.jpg);
  }
  .slide4 {
    background-image: url(../images/carousel-mobile-4.jpg);
  }
  .slide5 {
    background-image: url(../images/carousel-mobile-5.jpg);
  }
  .slide6 {
    background-image: url(../images/carousel-mobile-6.jpg);
  }
  .slide7 {
    background-image: url(../images/carousel-mobile-7.jpg);
  }
  .slide8 {
    background-image: url(../images/carousel-mobile-8.jpg);
  }
  .slide9 {
    background-image: url(../images/carousel-mobile-9.jpg);
  }
  .slide10 {
    background-image: url(../images/carousel-mobile-10.jpg);
  }
  .carousel-overlay h1 {
    font-size: 2.5em;
  }
  .carousel-overlay .lead {
    font-size: 1.5em;
  }
  .footer-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(204, 204, 204, 0.24);
    border-top-style: solid;
    border-color: rgba(54, 54, 54, 0.40);
  }
  .footer-nav {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100px;
  }
  .footer-nav > a:hover,
  .footer-nav > a:focus {
    text-decoration: none;
    font-weight: bolder;
    font-size: 1em;
    color: #000000;
  }
  .footer-nav > a {
    color: rgba(125, 125, 125, 0.89);
    font-weight: bold;
  }
  ul > li.footer-nav {
    list-style-type: none;
    display: none;
  }
  ul > li.vertical-align-footer-nav {
    vertical-align: middle;
    padding-top: 59px;
  }
  ul > li.vertical-align-back-to-top {
    vertical-align: middle;
    padding-top: 40px;
    padding-right: 30px;
    list-style-type: none;
  }
  .back-to-top {
    background-image: url(../images/top.png);
    background-size: 60px 60px;
    background-position: center center;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    margin: 0;
  }
  .back-to-top:hover,
  .back-to-top:focus {
    background-image: url(../images/backTopOff.png);
    background-size: 60px 60px;
    background-position: center center;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
  }
  .footer-logo {
    background-image: url(../images/SpartaParkFooterHead.png);
    background-size: 104px 116px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 104px;
    height: 116px;
    margin: 0;
    padding: 0;
  }
  .copyright {
    text-align: center;
    font-weight: bold;
    color: rgba(102, 102, 102, 0.95);
  }
  .available-parking-button-wrapper {
    border: 5px solid transparent;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: -5px;
  }
  .available-parking-button {
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background: rgba(0, 69, 163, 0.80);
    border: 1px solid #0041A9;
    box-shadow: 0 3px 5px rgba(255, 255, 255, 0.5) inset, 0 0 1px rgba(255, 255, 255, 0.5) inset;
    color: #FFF !important;
    padding: 10px 17px;
    height: 42px;
    opacity: 1;
  }
  .available-parking-button:hover,
  .available-parking-button:focus {
    background: #005EFF;
  }
  .contact-form-wrapper {
    margin-bottom: 70px;
    margin-top: 50px;
    padding: 20px 50px 20px 50px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
    background: #fcfcfc;
    margin-left: auto;
    margin-right: auto;
  }
  header.page-header > h1 {
    font-size: 26px;
    line-height: 1.4;
  }
  .about {
    margin-top: 30px;
  }
  .team {
    margin-top: 50px;
  }
}
@media (min-width: 768px) {
  .content-wrapper-navbar-push {
    margin-top: 100px;
  }
  .navbar .container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .navbar-default .navbar-brand {
  }
  .navbar > .container .navbar-brand {
    margin-top: -7px;
  }
  .navbar-default .navbar-nav > li > a {
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0,0,0,.75);
    font-weight: bold;
    border-radius: 4px;
    padding: 10px 15px;
    margin-top: 5px;
    margin-right: 0;
  }
  .slide1 {
    background-image: url(../images/carousel-web-1.jpg);
  }
  .slide2 {
    background-image: url(../images/carousel-web-2.jpg);
  }
  .slide3 {
    background-image: url(../images/carousel-web-3.jpg);
  }
  .slide4 {
    background-image: url(../images/carousel-web-4.jpg);
  }
  .slide5 {
    background-image: url(../images/carousel-web-5.jpg);
  }
  .slide6 {
    background-image: url(../images/carousel-web-6.jpg);
  }
  .slide7 {
    background-image: url(../images/carousel-web-7.jpg);
  }
  .slide8 {
    background-image: url(../images/carousel-web-8.jpg);
  }
  .slide9 {
    background-image: url(../images/carousel-web-9.jpg);
  }
  .slide10 {
    background-image: url(../images/carousel-web-10.jpg);
  }
  .carousel-overlay h1 {
    font-size: 5em;
  }
  .carousel-overlay .lead {
    font-size: 2.6em;
  }
  .footer-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(204, 204, 204, 0.24);
    border-top-style: solid;
    border-color: rgba(54, 54, 54, 0.40);
  }
  .footer-nav {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100px;
  }
  .footer-nav > a:hover,
  .footer-nav > a:focus {
    text-decoration: none;
    font-weight: bolder;
    font-size: 1em;
    color: #000000;
  }
  .footer-nav > a {
    color: rgba(125, 125, 125, 0.89);
    font-weight: bold;
  }
  ul > li.footer-nav {
    list-style-type: none;
    display: inline;
  }
  ul > li.vertical-align-footer-nav {
    vertical-align: middle;
    padding-top: 59px;
  }
  ul > li.vertical-align-back-to-top {
    vertical-align: middle;
    padding-top: 10px;
    list-style-type: none;
  }
  .back-to-top {
    background-image: url(../images/top.png);
    background-size: 60px 60px;
    background-position: center center;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
  }
  .back-to-top:hover,
  .back-to-top:focus {
    background-image: url(../images/backTopOff.png);
    background-size: 60px 60px;
    background-position: center center;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
  }
  .footer-logo {
    background-image: url(../images/SpartaParkFooterLogo.png);
    background-size: 261px 62px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 261px;
    height: 62px;
    margin: 0;
    padding: 0;
  }
  .copyright {
    text-align: center;
    font-weight: bold;
    color: rgba(102, 102, 102, 0.95);
  }
  .available-parking-button-wrapper {
    width: 222px;
    border: 5px solid transparent;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: -5px;
  }
  .available-parking-button {
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background: rgba(0, 69, 163, 0.80);
    border: 1px solid #0041A9;
    box-shadow: 0 3px 5px rgba(255, 255, 255, 0.5) inset, 0 0 1px rgba(255, 255, 255, 0.5) inset;
    color: #FFF !important;
    padding: 10px 17px;
    width: 212px;
    height: 42px;
    opacity: 1;
  }
  .available-parking-button:hover,
  .available-parking-button:focus {
    background: #005EFF;
  }
  .contact-form-wrapper {
    margin-bottom: 100px;
    margin-top: 50px;
    padding: 30px 100px 40px 100px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
    background: #fcfcfc;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
  }
  .notification {
    width: 900px;
    margin: auto;
  }
  .contact-page-header {
    background-image: url(../images/header-image-contact-1.jpg);
    background-size: 700px 163px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(255, 255, 255, 0);
    height: 163px;
    width: 700px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
  .about {
    margin-top: 30px;
    margin-left: 0;
  }
  .team {
    margin-top: 50px;
    margin-left: 0;
    margin-bottom: 50px;
  }
  .about-title {
    font-size: 30px;
  }
  .about-text {
    font-size: 20px;
  }
  .about-text:last-child {
    margin-bottom: 70px;
  }
  .sidebar-map-area-wrapper .sidebar {
    position: relative;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
    float: left;
    min-width: 350px;
    margin-right: -15px;
  }
  .sidebar-map-area-wrapper .map-area {
    min-width: 300px;
  }
}
@media (min-width: 990px) and (max-width: 1200px) {
  .about {
    margin-top: -50px;
    margin-left: 0;
  }
  .team {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 50px;
  }
}
@media (min-width: 992px) {
  .navbar-default .navbar-nav > li > a {
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0,0,0,.75);
    font-weight: bold;
    border-radius: 4px;
    padding: 10px 15px;
    margin-top: 5px;
    margin-right: 5px;
  }
  .content-wrapper-navbar-push {
    margin-top: 150px;
  }
  .contact-page-header {
    background-image: url(../images/header-image-contact.jpg);
    background-size: 944px 220px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(255, 255, 255, 0);
    height: 220px;
    width: 944px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
}
@media (min-width: 1201px) {
  .about {
    margin-top: -50px;
    margin-left: 50px;
  }
  .team {
    margin-left: 50px;
    margin-top: 0;
    margin-bottom: 50px;
  }
}
.navbar {
  top: 0;
  left: 0;
  right: 0;
  background: black;
  border: black;
  box-shadow: 2px 2px 2px black;
}
.slide1,
.slide2,
.slide3,
.slide4,
.slide5,
.slide6,
.slide7,
.slide8,
.slide9,
.slide10 {
  min-height: 500px;
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
}
/* Carousel Fade Effect */
.carousel.carousel-fade .item {
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -ms-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  transition: opacity 1s linear;
  opacity: .5;
}
.carousel.carousel-fade .active.item {
  opacity: 1;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}
/* Carousel Overlay */
.carousel-overlay {
  position: absolute;
  bottom: 100px;
  right: 0;
  left: 0;
}
.navbar-default .navbar-brand {
  color: rgb(28, 138, 251);
}
.navbar-default .navbar-brand:hover {
  color: rgb(28, 138, 251);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-image: none;
  background-color: rgba(18, 133, 227, 0.30);
  box-shadow: 0 3px 5px rgba(255, 255, 255, 0.5) inset, 0 0 1px rgba(255, 255, 255, 0.5) inset;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: rgba(18, 133, 227, 0.30);
  box-shadow: 0 3px 5px rgba(255, 255, 255, 0.5) inset, 0 0 1px rgba(255, 255, 255, 0.5) inset;
}
.navbar-collapse.in {
  background-color: rgba(255,255,255,.5);
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: rgba(8, 82, 180, 0.50);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-toggle {
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  color: #fff;
}
.carousel-overlay {
  color: #ffffff;
  text-shadow:
    1px  1px 2px black,
    1px -1px 2px black,
    -1px  1px 2px black,
    -1px -1px 2px black;
}
.carousel-overlay h1::selection {
  background: rgba(8, 82, 180, 0.20);
}
.carousel-overlay h1::-moz-selection {
  background: rgba(8, 82, 180, 0.20);
}
.carousel-overlay .lead::selection {
  background: rgba(8, 82, 180, 0.20);
}
.carousel-overlay .lead::-moz-selection {
  background: rgba(8, 82, 180, 0.20);
}
.carousel-wrapper {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  color: #000000;
  background-color: #000000;
}
.carousel-container {
  width: 100%;
  color: #000000;
  background-color: #000000;
  box-shadow: 2px 2px 2px #000000;
}
.logo {
  background-image: url(../images/SpartaParkLogoWhite.png);
  background-size: 168px 40px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 168px;
  height: 40px;
  margin: 0;
  padding: 0;
}
.errors {
  color: red;
  margin-bottom: 30px;
}
.contact-form-center {
  margin-right: auto;
  margin-left: auto;
}
.textarea-style {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #b3b3b3;
}
.textarea-style:focus {
  background-color: #fff;
  border: 1px solid rgba(0, 80, 243, 0.88);

  -webkit-box-shadow: 0 1 10px rgba(0, 69, 163, 0.80);
  -moz-box-shadow: 0 1 10px rgba(0, 69, 163, 0.80);
  box-shadow: 0 1px 10px #0045a3, 0 1px 0 #FFF inset;
}
.text-field-style {
  width: 90%;
}
.alert {
  text-align: center;
}
.page-header {
  margin: auto;
  text-align: center;
}
.contact-form-title {
  text-shadow: 2px 2px 2px rgba(0, 69, 163, 0.80);
  text-align: center;
  line-height: 1.5;
}
.btn-style {
  border-radius: 4px;
  background: rgba(0, 69, 163, 0.80);
  border: 1px solid #0041A9;
  box-shadow: 0 3px 5px rgba(255, 255, 255, 0.5) inset, 0 0 1px rgba(255, 255, 255, 0.5) inset;
  color: #FFF !important;
  opacity: 1;
  width: 100px;
}
div.content-wrapper.content-wrapper-navbar-push > div#map_canvas {
  height: 750px;
}
.team-member-image {
  background-image: url(../images/me.png);
  background-size: 200px 200px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 0
}
.thumbnail {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
  padding: 15px;
  width: -moz-fit-content;
  box-shadow: 0 1px 10px #A7A7A7, 0 1px 0 #FFF inset;
  border: 1px solid #B3B3B3;
  background: none repeat scroll 0 0 #fcfcfc;
  display: table;
}
.thumbnail:hover {
  box-shadow: 0 1px 10px #0045a3, 0 1px 0 #FFF inset;
  border: 1px solid rgba(0, 80, 243, 0.88);
}
.img-thumbnail {
  display: block;
}
.about-title {
  text-shadow: 2px 2px 2px rgba(0, 69, 163, 0.80);
  line-height: 1.5;
  margin-bottom: 30px;
}
.about-text {
  margin-bottom: 30px;
}
.team-member-name {
  margin-left: -8px;
  color: #000000;
  font-weight: bold;
  text-transform: capitalize;
}
.team-member-position {
  width: 180px;
  margin-left: -7px;
  margin-top: -7px;
  font-size: 13px;
  color: #989898;
}
.nav-pills > li.active > a {
  background: rgba(0, 69, 163, 0.80);
  border: 1px solid #0041A9;
  box-shadow: 0 3px 5px rgba(255, 255, 255, 0.5) inset, 0 0 1px rgba(255, 255, 255, 0.5) inset;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0,0,0,.75);
  font-weight: bold;
}
.nav-pills > li > a {
  background: rgba(255, 255, 255, 0.100);
  border: 1px solid rgba(201, 201, 201, 0.32);
  box-shadow: 0 3px 5px rgba(232, 232, 232, 0.50) inset, 0 0 1px rgba(232, 232, 232, 0.5) inset;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0,0,0,.5);
  font-weight: bold;
  color: rgba(0, 69, 163, 0.80);
  text-align: center;
}
.nav-pills > li > a:hover {
  background: rgba(132, 132, 132, 0.08);
  border: 1px solid rgba(201, 201, 201, 0.32);
  box-shadow: 0 3px 5px rgba(255, 255, 255, 0.5) inset, 0 0 1px rgba(255, 255, 255, 0.5) inset;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0,0,0,.5);
  font-weight: bold;
  color: rgba(0, 69, 163, 0.80);
}
.col-premd-1, .col-premd-2, .col-premd-3, .col-premd-4, .col-premd-5, .col-premd-6, .col-premd-7, .col-premd-8, .col-premd-9, .col-premd-10, .col-premd-11, .col-premd-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 540px) and (max-width: 767px) {
  .col-premd-1, .col-premd-2, .col-premd-3, .col-premd-4, .col-premd-5, .col-premd-6, .col-premd-7, .col-premd-8, .col-premd-9, .col-premd-10, .col-premd-11, .col-premd-12 {
    float: left;
  }
  .col-premd-12 {
    width: 100%;
  }
  .col-premd-11 {
    width: 91.66666667%;
  }
  .col-premd-10 {
    width: 83.33333333%;
  }
  .col-premd-9 {
    width: 75%;
  }
  .col-premd-8 {
    width: 66.66666667%;
  }
  .col-premd-7 {
    width: 58.33333333%;
  }
  .col-premd-6 {
    width: 50%;
  }
  .col-premd-5 {
    width: 41.66666667%;
  }
  .col-premd-4 {
    width: 33.33333333%;
  }
  .col-premd-3 {
    width: 25%;
  }
  .col-premd-2 {
    width: 16.66666667%;
  }
  .col-premd-1 {
    width: 8.33333333%;
  }
  .col-premd-pull-12 {
    right: 100%;
  }
  .col-premd-pull-11 {
    right: 91.66666667%;
  }
  .col-premd-pull-10 {
    right: 83.33333333%;
  }
  .col-premd-pull-9 {
    right: 75%;
  }
  .col-premd-pull-8 {
    right: 66.66666667%;
  }
  .col-premd-pull-7 {
    right: 58.33333333%;
  }
  .col-premd-pull-6 {
    right: 50%;
  }
  .col-premd-pull-5 {
    right: 41.66666667%;
  }
  .col-premd-pull-4 {
    right: 33.33333333%;
  }
  .col-premd-pull-3 {
    right: 25%;
  }
  .col-premd-pull-2 {
    right: 16.66666667%;
  }
  .col-premd-pull-1 {
    right: 8.33333333%;
  }
  .col-premd-pull-0 {
    right: 0;
  }
  .col-premd-push-12 {
    left: 100%;
  }
  .col-premd-push-11 {
    left: 91.66666667%;
  }
  .col-premd-push-10 {
    left: 83.33333333%;
  }
  .col-premd-push-9 {
    left: 75%;
  }
  .col-premd-push-8 {
    left: 66.66666667%;
  }
  .col-premd-push-7 {
    left: 58.33333333%;
  }
  .col-premd-push-6 {
    left: 50%;
  }
  .col-premd-push-5 {
    left: 41.66666667%;
  }
  .col-premd-push-4 {
    left: 33.33333333%;
  }
  .col-premd-push-3 {
    left: 25%;
  }
  .col-premd-push-2 {
    left: 16.66666667%;
  }
  .col-premd-push-1 {
    left: 8.33333333%;
  }
  .col-premd-push-0 {
    left: 0;
  }
  .col-premd-offset-12 {
    margin-left: 100%;
  }
  .col-premd-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-premd-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-premd-offset-9 {
    margin-left: 75%;
  }
  .col-premd-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-premd-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-premd-offset-6 {
    margin-left: 50%;
  }
  .col-premd-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-premd-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-premd-offset-3 {
    margin-left: 25%;
  }
  .col-premd-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-premd-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-premd-offset-0 {
    margin-left: 0;
  }
}
.map-canvas {
  margin-top: 6px;
  min-height: 500px;
  height: 700px;
}
.index-map-canvas {
  margin-top: 6px;
  min-height: 300px;
  height: 500px;
  box-shadow: 0 1px 10px #8c8c8c, 0 1px 0 #FFF inset;
  border: 1px solid #999999;
}
.index-map-canvas:hover {
  box-shadow: 0 1px 10px #0045a3, 0 1px 0 #FFF inset;
  border: 1px solid rgba(0, 80, 243, 0.88);
}
.lot-entry {
  border-bottom: 1px solid #EDEDED;
  min-height: 55px;
  min-width: 300px;
  position: relative;
  background-color: #FFF;
  color: #999;
  cursor: pointer;
}
.lot-entry:hover {
  background-color: rgba(0, 141, 255, 0.18);
}
.lot-entry-hover {
  background-color: rgba(0, 141, 255, 0.18);
}
.lot-entry-active {
  background-color: rgba(0, 141, 255, 0.41);
}
.lot-entry-active:hover {
  background-color: rgba(0, 141, 255, 0.41);
}
.lot-entry-container {
  padding: 15px 30px 10px 20px;
}
.lot-entry-name {
  font-weight: bolder;
  font-size: 14px;
  color: #000000;
}
ul#marker-list {
  list-style-type: none;
  margin-left: -40px;
}
#lot-name, #lot-distance {
  display: inline;
}
.sidebar-map-area-wrapper {
  height: inherit;
  width: 100%;
}