/* ==========================================================================
   SpartaPark's Custom Styles
   ========================================================================== */
.content-wrapper {
  min-height: 700px;
  margin-top: 30px;
}
.content-wrapper-navbar-push {
  margin-top: 90px;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav > li > a {
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0,0,0,.75);
    font-weight: bold;
    border-radius: 4px;
    padding: 10px 15px;
    margin-top: 0;
    margin-right: 0;
  }
  .navbar > .container .navbar-brand {
    margin-top: -7px;
  }
  .slide1 {
    background-image: url(../images/carousel-mobile-1.jpg);
  }
  .slide2 {
    background-image: url(../images/carousel-mobile-2.jpg);
  }
  .slide3 {
    background-image: url(../images/carousel-mobile-3.jpg);
  }
  .slide4 {
    background-image: url(../images/carousel-mobile-4.jpg);
  }
  .slide5 {
    background-image: url(../images/carousel-mobile-5.jpg);
  }
  .slide6 {
    background-image: url(../images/carousel-mobile-6.jpg);
  }
  .slide7 {
    background-image: url(../images/carousel-mobile-7.jpg);
  }
  .slide8 {
    background-image: url(../images/carousel-mobile-8.jpg);
  }
  .slide9 {
    background-image: url(../images/carousel-mobile-9.jpg);
  }
  .slide10 {
    background-image: url(../images/carousel-mobile-10.jpg);
  }
  .carousel-overlay h1 {
    font-size: 2.5em;
  }
  .carousel-overlay .lead {
    font-size: 1.5em;
  }
  .footer-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(204, 204, 204, 0.24);
    border-top-style: solid;
    border-color: rgba(54, 54, 54, 0.40);
  }
  .footer-nav {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100px;
  }
  .footer-nav > a:hover,
  .footer-nav > a:focus {
    text-decoration: none;
    font-weight: 900;
    font-size: 1em;
    color: #000000;
  }
  .footer-nav > a {
    color: rgba(125, 125, 125, 0.89);
    font-weight: 900;
  }
  ul > li.footer-nav {
    list-style-type: none;
    display: none;
  }
  ul > li.vertical-align-footer-nav {
    vertical-align: middle;
    padding-top: 59px;
  }
  ul > li.vertical-align-back-to-top {
    vertical-align: middle;
    padding-top: 40px;
    padding-right: 30px;
    list-style-type: none;
  }
  .back-to-top {
    background-image: url(../images/top.png);
    background-size: 60px 60px;
    background-position: center center;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    margin: 0;
  }
  .back-to-top:hover,
  .back-to-top:focus {
    background-image: url(../images/backTopOff.png);
    background-size: 60px 60px;
    background-position: center center;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
  }
  .footer-logo {
    background-image: url(../images/SpartaParkFooterHead.png);
    background-size: 104px 116px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 104px;
    height: 116px;
    margin: 0;
    padding: 0;
  }
  .copyright {
    text-align: center;
    font-weight: bold;
    color: rgba(102, 102, 102, 0.95);
  }
  .available-parking-button-wrapper {
    border: 5px solid transparent;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: -5px;
  }
  .available-parking-button {
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background: rgba(0, 69, 163, 0.80);
    border: 1px solid #0041A9;
    box-shadow: 0 3px 5px rgba(255, 255, 255, 0.5) inset, 0 0 1px rgba(255, 255, 255, 0.5) inset;
    color: #FFF !important;
    padding: 10px 17px;
    height: 42px;
    opacity: 1;
  }
  .available-parking-button:hover,
  .available-parking-button:focus {
    background: #005EFF;
  }
  /*.available-parking-button-text:before {
    content: "Available Parking";
    color: #ffffff;
  }*/
  .contact-form-wrapper {
    margin-bottom: 50px;
    padding: 20px 50px 20px 50px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
    background: #fcfcfc;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
  }
}
@media (min-width: 768px) {
  .navbar .container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .navbar-default .navbar-brand {
  }
  .navbar > .container .navbar-brand {
    margin-top: -7px;
  }
  .navbar-default .navbar-nav > li > a {
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0,0,0,.75);
    font-weight: bold;
    border-radius: 4px;
    padding: 10px 15px;
    margin-top: 5px;
    margin-right: 0;
  }
  .slide1 {
    background-image: url(../images/carousel-web-1.jpg);
  }
  .slide2 {
    background-image: url(../images/carousel-web-2.jpg);
  }
  .slide3 {
    background-image: url(../images/carousel-web-3.jpg);
  }
  .slide4 {
    background-image: url(../images/carousel-web-4.jpg);
  }
  .slide5 {
    background-image: url(../images/carousel-web-5.jpg);
  }
  .slide6 {
    background-image: url(../images/carousel-web-6.jpg);
  }
  .slide7 {
    background-image: url(../images/carousel-web-7.jpg);
  }
  .slide8 {
    background-image: url(../images/carousel-web-8.jpg);
  }
  .slide9 {
    background-image: url(../images/carousel-web-9.jpg);
  }
  .slide10 {
    background-image: url(../images/carousel-web-10.jpg);
  }
  .carousel-overlay h1 {
    font-size: 5em;
  }
  .carousel-overlay .lead {
    font-size: 2.6em;
  }
  .footer-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(204, 204, 204, 0.24);
    border-top-style: solid;
    border-color: rgba(54, 54, 54, 0.40);
  }
  .footer-nav {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100px;
  }
  .footer-nav > a:hover,
  .footer-nav > a:focus {
    text-decoration: none;
    font-weight: 900;
    font-size: 1em;
    color: #000000;
  }
  .footer-nav > a {
    color: rgba(125, 125, 125, 0.89);
    font-weight: 600;
  }
  ul > li.footer-nav {
    list-style-type: none;
    display: inline;
  }
  ul > li.vertical-align-footer-nav {
    vertical-align: middle;
    padding-top: 59px;
  }
  ul > li.vertical-align-back-to-top {
    vertical-align: middle;
    padding-top: 10px;
    list-style-type: none;
  }
  .back-to-top {
    background-image: url(../images/top.png);
    background-size: 60px 60px;
    background-position: center center;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
  }
  .back-to-top:hover,
  .back-to-top:focus {
    background-image: url(../images/backTopOff.png);
    background-size: 60px 60px;
    background-position: center center;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
  }
  .footer-logo {
    background-image: url(../images/SpartaParkFooterLogo.png);
    background-size: 261px 62px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 261px;
    height: 62px;
    margin: 0;
    padding: 0;
  }
  .copyright {
    text-align: center;
    font-weight: bold;
    color: rgba(102, 102, 102, 0.95);
  }
  .available-parking-button-wrapper {
    width: 222px;
    border: 5px solid transparent;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: -5px;
  }
  .available-parking-button {
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background: rgba(0, 69, 163, 0.80);
    border: 1px solid #0041A9;
    box-shadow: 0 3px 5px rgba(255, 255, 255, 0.5) inset, 0 0 1px rgba(255, 255, 255, 0.5) inset;
    color: #FFF !important;
    padding: 10px 17px;
    width: 212px;
    height: 42px;
    opacity: 1;
  }
  .available-parking-button:hover,
  .available-parking-button:focus {
    background: #005EFF;
  }
  /*.available-parking-button-text:before {
    content: "Available Parking";
    color: #ffffff;
  }*/
  .contact-form-wrapper {
    margin-bottom: 50px;
    padding: 30px 100px 40px 100px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
    background: #fcfcfc;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
  }
}
@media (min-width: 992px) {

}
.navbar {
  top: 0;
  left: 0;
  right: 0;
  background: black;
  border: black;
  box-shadow: 2px 2px 2px black;
}
.slide1,
.slide2,
.slide3,
.slide4,
.slide5,
.slide6,
.slide7,
.slide8,
.slide9,
.slide10 {
  min-height: 500px;
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
}
/* Carousel Fade Effect */
.carousel.carousel-fade .item {
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -ms-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  transition: opacity 1s linear;
  opacity: .5;
}
.carousel.carousel-fade .active.item {
  opacity: 1;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}
/* Carousel Overlay */
.carousel-overlay {
  position: absolute;
  bottom: 100px;
  right: 0;
  left: 0;
}
.navbar-default .navbar-brand {
  color: rgb(28, 138, 251);
}
.navbar-default .navbar-brand:hover {
  color: rgb(28, 138, 251);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-image: none;
  background-color: rgba(18, 133, 227, 0.30);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: rgba(18, 133, 227, 0.30);
}
.navbar-collapse.in {
  background-color: rgba(255,255,255,.5);
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: rgba(8, 82, 180, 0.50);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-toggle {
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  color: #fff;
}
.carousel-overlay {
  color: #ffffff;
  text-shadow:
    1px  1px 2px black,
    1px -1px 2px black,
    -1px  1px 2px black,
    -1px -1px 2px black;
}
.carousel-overlay h1::selection {
  background: rgba(8, 82, 180, 0.20);
}
.carousel-overlay h1::-moz-selection {
  background: rgba(8, 82, 180, 0.20);
}
/*.carousel-overlay .btn {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px solid #2e3784;
  border-radius: 6px;
}
.carousel-overlay .btn-lg {
  font-size: 1.75em;
  padding: 10px 30px;
}*/
.carousel-overlay .lead::selection {
  background: rgba(8, 82, 180, 0.20);
}
.carousel-overlay .lead::-moz-selection {
  background: rgba(8, 82, 180, 0.20);
}
.carousel-wrapper {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  color: #000000;
  background-color: #000000;
}
.carousel-container {
  width: 100%;
  color: #000000;
  background-color: #000000;
  box-shadow: 2px 2px 2px #000000;
}
.logo {
  background-image: url(../images/SpartaParkLogoWhite.png);
  background-size: 168px 40px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 168px;
  height: 40px;
  margin: 0;
  padding: 0;
}
.errors {
  color: red;
}
.contact-form-center {
  margin-right: auto;
  margin-left: auto;
}
.textarea-style {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #b3b3b3;
}
.text-field-style {
  width: 90%;
}